<html>
    <head>
        <title>Your Santa's quest is ready!</title>
    </head>
    <body>
        <p>Dear My New Santa,</p>
        <p>Hello new Santa!, I would like to inform you that Your new quest is ready!</p>
        <p>We have finally known who is going to receive the gift from you!</p>
        <p>That person is <%= receiver %>.</p>
        <p>here is the detail,</p>
        <img src="<%= img %>"/>
        <p>remember,</p>
        <p><%= rules %></p>
        <p>I hope you enjoy your santa's mission.</p>
        <br/>
        <p>Merry Christmas,</p>
        <p>The Hidden Santa.</p>
    </body>
</html>
