<html>
    <head>
        <title>Welcome new Santa!</title>
    </head>
    <body>
        <p>Ho Ho, My New Santa,</p><br/>
        <p>having a new squad, ej?</p>
        <p>Let's me explain again what we are doing.</p>
        <p>We, Hidden Santas, are making a secret room, Yes! And you did one</p>
        <p>We will invite other santas join to our room.</p>
        <p>Each santa enters the room and join the squad.</p>
        <p>then, you will need to draw your name or whatever on the paper.</p>
        <p>submit your draw. when the room is full, elves will hand the missions to everyone.</p>
        <p>Anyway, here is the key, give it to your crews to enter your squad</p>
        <hr/>
            <h3><%= key %></h3>
        <hr/>
        <p>Squad up !, Santas.</p>
        <br/>
        <p>Merry Christmas,</p>
        <p>The Hidden Santa.(HO HO)</p>
    </body>
</html>
